<!DOCTYPE html>
<html lang="es" xmlns="http://www.thymeLeaf.org"><!--convertir plantilla a thymeLeaf-->

<head th:insert="~{administrador/template_admin.html::head}">
</head>

<body>

	<!-- ======= Header ======= -->
	<div th:insert="~{administrador/template_admin.html::header}"></div>
	<!-- End Header -->

	<main id="main" class="main">

		<div class="pagetitle">
			<h1>Productos</h1>

			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a th:href="@{../administrador}">Home</a></li>
					<li class="breadcrumb-item"><a th:href="@{/productos}">Producto</a></li>
					<li class="breadcrumb-item active">Lista de Productos</li>
				</ol>
			</nav>
		</div><!-- End Page Title -->

		<section class="section dashboard">
			<div class="row">
				<div class="col-lg-12">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Lista de Productos</h5>
							<p>Creación de productos:
								<br><a class="btn btn-primary" th:href="@{/productos/create}">Crear Producto</a>
							</p>

							<table class="table datatable">
								<thead>
									<tr>
										<th scope="col">Nombre</th>
										<th scope="col">Descripción</th>
										<th scope="col">Cantidad</th>
										<th scope="col">Precio</th>
										<th scope="col">Acción</th>
										<th scope="col">Acción</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="producto:${productos}">
										<td th:text="${producto.nombre}"></td>
										<td th:text="${producto.descripion}"></td>
										<td th:text="${producto.cantidad}"></td>
										<td
											th:text="${#strings.concat('$', #numbers.formatDecimal(producto.precio, 0, 'POINT', 0, 'POINT'))}">
										</td>
										<td><a title="Editar" class=" btn btn-warning"
												th:href="@{productos/edit/{id} (id=${producto.id})}"><i
													class="bi bi-pencil-square"></i>Editar</a></td>
										<td><a title="Eliminar" class=" btn btn-danger"
												th:href="@{productos/delete/{id} (id=${producto.id})}"><i
													class="bi bi-file-earmark-x"></i>Eliminar</a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</section>

	</main><!-- End #main -->

	<!-- ======= Footer ======= -->
	<div th:insert="~{administrador/template_admin.html::footer}"></div>
	<div th:insert="~{administrador/template_admin.html::jsFiles}"></div>
	<!-- End Footer -->



</body>

</html>